*,
::after,
::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --formulari-font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: 50px;
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--formulari-font-family);
}
